
@{
    ViewBag.Title = "SaveDisplay";
}

<!DOCTYPE html>

<html>
<body>
    <div class="bg">
        <canvas id="myCanvas"></canvas>
        <script>

            var IntervalTime = @Session["rate"] * 1000;
            var duration = @Session["duration"] * 1000;

            var lat = @ViewBag.Lat;
            var lon = @ViewBag.Lon;

            var canvas = document.getElementById("myCanvas");
            var ctx = canvas.getContext("2d");
            drawCircle(ctx, lat, lon); //draw circle in starting position

            setLine(ctx, lat, lon); // sets line color and width.
            
            myTimer = (function () {

                $.post("@Url.Action("SaveFlightData")").done(function (xml) {

                    var xmlDoc = $.parseXML(xml), $xml = $(xmlDoc);
                    var lon = $xml.find("Lon").text();
                    var lat = $xml.find("Lat").text();

                    var x = (window.innerWidth / 360) * (parseInt(lon) + 180);
                    var y = (window.innerHeight / 180) * (parseInt(lat) + 90);

                    ctx.lineTo(x, y);
                    ctx.stroke();
                });
            });

            // setting the rate for printing the plain path.
            var intervalID = setInterval(myTimer, IntervalTime);

            // stop printing the plain path after 'duration' seconds.
            setTimeout(function () { clearInterval(intervalID); }, duration);

        </script>
    </div>
</body>
</html>
