
@{
    ViewBag.Title = "SaveDisplay";
}

<!DOCTYPE html>

<html>
<body>
    <div class="bg">
        <canvas id="myCanvas"></canvas>
        <script>

            var IntervalTime = @Session["rate"] * 1000;
            var duration = @Session["duration"] * 1000;

            // sets the canvas on whole page
            var canvas = document.getElementById("myCanvas");
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            var ctx = canvas.getContext("2d");

            var lat = parseInt('@ViewBag.Lat');
            var lon = parseInt('@ViewBag.Lon');

            y = (lat + 90) * (window.innerHeight / 180);
            x = (lon + 180) * (window.innerWidth / 360);

            //sets circle color.
            ctx.fillStyle = "red";

            ctx.beginPath();
            ctx.arc(x, y, 5, 0, 2 * Math.PI);
            ctx.fill();
            ctx.stroke();

            // sets line color and width.
            ctx.strokeStyle = "red";
            ctx.lineWidth = 3;
            
            myTimer = (function () {

                $.post("@Url.Action("SaveFlightData")").done(function (xml) {

                    var xmlDoc = $.parseXML(xml), $xml = $(xmlDoc);
                    var lon = $xml.find("Lon").text();
                    var lat = $xml.find("Lat").text();

                    var x = (window.innerWidth / 360) * (parseInt(lon) + 180);
                    var y = (window.innerHeight / 180) * (parseInt(lat) + 90);

                    ctx.lineTo(x, y);
                    ctx.stroke();
                });
            });

            // setting the rate for printing the plain path.
            var intervalID = setInterval(myTimer, IntervalTime);

            // stop printing the plain path after 'duration' seconds.
            setTimeout(function () { clearInterval(intervalID); }, duration);

        </script>
    </div>
</body>
</html>
